<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/offcanvas/">
    <title>File online dispatcher</title>


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<!-- Custom styles for this template -->
<link href="offcanvas.css" rel="stylesheet">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="#" th:text="#{appname}"></a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button th:inline="text" type="button" th:onclick="RestGetAllChild([[${rootDirectory}]])" class="btn btn-outline-success my-2 my-sm-0">[[#{df.fileroot.btn}]]</button>
        </form>
    </div>
</nav>


    <main role="main" class="container">
        <div class="createFile align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <div class="createfile-inpblock" style="flex: 1;">
                <label th:inline="text">
                    [[#{df.fcreate.name}]]
                <input id="newFileName" type="text" th:placeholder="#{df.fcreate.name.tip}"/>
                </label>
            </div>
            <div class="createfile-inpblock" style="flex: 1;">
                <label th:inline="text"><input id="exall" type="checkbox" checked/> [[#{df.fcreate.allow.executing}]]</label>
                <label th:inline="text"><input id="wrall" type="checkbox" checked/> [[#{df.fcreate.allow.writing}]]</label>
                <label th:inline="text"><input id="reall" type="checkbox" checked/> [[#{df.fcreate.allow.reading}]]</label>
            </div>
            <div class="createfile-inpblock" style="flex: 1;">
                <label th:inline="text"><input id="exown" type="checkbox" checked/> [[#{df.fcreate.allow.owner.executing}]]</label>
                <label th:inline="text"><input id="wrown" type="checkbox" checked/> [[#{df.fcreate.allow.owner.writing}]]</label>
                <label th:inline="text"><input id="reown" type="checkbox" checked/> [[#{df.fcreate.allow.owner.reading}]]</label>
            </div>
            <div class="createfile-inpblock" style="flex: 1;">
                <div>
                    <input type="radio" id="newFileCh1"
                           name="newFileIsDir" checked value="false">
                    <label th:inline="text" for="newFileCh1">[[#{df.fcreate.file}]]</label>
                </div>
                <div>
                    <input type="radio" id="newFileCh2"
                           name="newFileIsDir" value="true">
                    <label th:inline="text" for="newFileCh2">[[#{df.fcreate.directory}]]</label>
                </div>
            </div>
            <div class="createfile-inpblock">
                <input id="createFileId" type="submit" class="btn" th:value="#{df.fcreate.btn}">
            </div>
        </div>
        <form method="POST" id="filedata" action="/file/upload" enctype="multipart/form-data" class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm"  style="background-color: darkgrey;">
             <label for="upl-file" path="file" style="flex: 2;">Select a file to upload</label>
             <input id="upl-file" class="btn" type="file" name="file"  style="flex: 5; background: none;">
             <input id="start-upl-file" class="btn" type="submit" value="⤒ upload file"  style="flex: 1;">
        </form>
        <div class="page-heading">
            <h2 th:inline="text" >[[#{df.yourfiles.ttl}]]</h2>
            [[#{df.yourroot.note}]] <span th:text="${rootDirectory}"> now</span>
            <p style="font-size: 10px;">[[#{df.yourroot.tip}]]</p>
        </div>
        <div class="panel-body d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm" id="parentdir-wrapper" style="background-color: darkgrey;">
        </div>
        <div class="panel-body align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm" id="response"></div>
        <div class="createFile d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Strashevskiy Ostap</h6>
                <small>2019</small>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="offcanvas.js"></script>
</body>

    <script src="/js/jquery.min.js"></script>
    <script th:inline="javascript">
        var service = 'http://localhost:8080';
        var dFileService = 'http://localhost:8080/dfile';
        var commentService = 'http://localhost:8080/comment';
        var fileService = 'http://localhost:8080/file';
        var CREATE_FILE = "/create";
        var DELETE_FILE = "/delete";
        var UPLOAD_FILE = "/upload";
        var EDITOR_FILE = "/texteditor";

        var RestAddComment = function (name, text) {
            var res = null;
            var JSONObject = {
                'name': ''+name+'',
                'commentText':''+text+'',
                'lastEdited':'',
                'dFile':null
            };
            name = encodeURIComponent(name);

            $.ajax({
                type: 'POST',
                url: commentService + '/addandgetall?name='+name,
                contentType: 'application/json;utf-8',
                dataType: 'json',
                data: JSON.stringify(JSONObject),
                accept: 'json',
                async: false,//true ? Синхронный XMLHttpRequest в основном потоке устарел
                success: function (result) {
                    console.log("result="+result);
                    //console.log("CommentAdd works, result.length="+result + result.name + result.lastEdited + result.commentText);
                    res = result;
                },
                error: function (jqXHR, testStatus, errorThrown) {
                    //console.log("CommentAdd ERROR="+JSON.stringify(jqXHR));
                    res = null;
                }
            });
            return res;
        };

        var RestGetAllChild = function (name) {
            $("#response").empty();
            //name = URLEncoder.encode(name, "UTF-8");
            name = encodeURIComponent(name);//!!!!!! необходимо чтобы передать URI через REST
            //url = dFileService + '/all-child?name='+name;
            //console.log("url="+url);
            $.ajax({
                type: 'GET',
                url: dFileService + '/all-child?name='+name,
                dataType: 'json',
                accept: 'json',
                contentType: 'application/json;utf-8',
                async: false,//true ? Синхронный XMLHttpRequest в основном потоке устарел
                success: function (result) {
                    console.log("RestGetAllCurrent() works, result.length="+result.length);
                    iterateDfiles(result);
                },
                error: function (jqXHR, testStatus, errorThrown) {
                    $('#response').html(JSON.stringify(jqXHR))
                }
            });
        };

        var RestGetParent = function (name) {
            $("#response").empty();
            //name = URLEncoder.encode(name, "UTF-8");
            name = encodeURIComponent(name);//!!!!!! необходимо чтобы передать URI через REST
            u = dFileService + '/get-parent?name='+name;
            console.log("url="+u);
            $.ajax({
                type: 'GET',
                url: dFileService + '/get-parent?name='+name,
                dataType: 'json',
                accept: 'json',
                contentType: 'application/json;utf-8',
                async: false,//true ? Синхронный XMLHttpRequest в основном потоке устарел
                success: function (result) {
                    console.log("get-parent() works");
                    console.log("result"+result.name);
                    $("#parentdir-wrapper").empty();

                    resName = "";
                    var lastUpdated;
                    if (result.name != null){
                        if(result.name == "") {resName = "ROOT";} else {resName = "ROOT:"+result.name;}
                        if(result.lastUpdated == null) {lastUpdated = "";} else {lastUpdated = result.lastUpdated;}
                        $("#parentdir-wrapper").append("<img src='/images/fdir.png' class='dfileicon'/><div id='"+result.name+"' class='dfile dir'>" + resName+" " + lastUpdated + "</div>");
                        $("#parentdir-wrapper .dfile.dir").on("click", function() {
                            //alert("sdfsd");
                            RestGetParent(this.id+"\\");
                            RestGetAllChild(this.id+"\\");
                        });
                    } else {
                        alert("sdfsd");
                    }
                },
                error: function (jqXHR, testStatus, errorThrown) {
                    console.log("get-parent() error");
                    $("#parentdir-wrapper").empty();
                }
            });
        };

        var iterateDfiles = function (jsonArray) {
            console.log("iterateDfiles");
            //console.log(jsonArray);
            for(var i in jsonArray){
                //console.log(jsonArray[i])
                var jsonObj = jsonArray[i];
                //console.log(jsonObj.name);
                var commentContent= "";
                if(jsonObj.commentList.length > 0) {
                    //commentContent = ""+jsonObj.commentList[0].commentText+"";
                    jsonObj.commentList.forEach(function(comment) {
                        commentContent = commentContent + " | <span class=\"commentitem\">" + comment.commentText + "  " + comment.lastEdited + "</span>"
                        //console.log(element);
                    });
                } else {commentContent = "";}

                //console.log("commentContent="+commentContent);
                extensionClassName = jsonObj.extensionClassName;
                comment = "";
                lastUpdated = "";

                var shortName = jsonObj.name.replace(/^.*[\\\/]/, '');

                comment = (jsonObj.comment == "null") ? "" : jsonObj.comment;
                lastUpdated = (jsonObj.lastUpdated = "null") ? "" : jsonObj.lastUpdated;
                if(jsonObj.directory == true) {
                    $('#response').append("<div id='"+jsonObj.name+"' class='dfile dir media text-muted pt-3'>" +
                        "<img src='/images/fdir.png' class='dfileicon'/>"+
                        "<p class='dfilename media-body pb-3 mb-0 small lh-125'><strong class=\"d-block text-gray-dark\">" + shortName +"</strong> " + lastUpdated + "</p>" +
                        "<input class='editcomment' type='text' placeholder='этот файлик о...'/>" +
                        "<div style=\"font-size:24px;\" class=\"todelete pull-right hidden-xs showopacity fa fa fa-trash table-click-item\"></div>" +
                        "<div class='commentshistory border-bottom border-gray'>"+commentContent+"</div>" +
                        "</div>");
                } else {
                    $('#response').append("<div id='"+jsonObj.name+"' class='dfile file media text-muted pt-3 "+ jsonObj.editableClass +"'>" +
                        "<img src='/images/"+ extensionClassName +".png' class='dfileicon'/>"+
                        "<p class='dfilename media-body pb-3 mb-0 small lh-125'><strong class=\"d-block text-gray-dark\">" + shortName +"</strong> " + lastUpdated + "</p>" +
                        "<input class='editcomment' type='text' placeholder='этот файлик о...'/>" +
                        "<div style=\"font-size:24px;\" class=\"todelete pull-right hidden-xs showopacity fa fa fa-trash table-click-item\"></div>" +
                        "<div class='commentshistory border-bottom border-gray'>"+commentContent+"</div>" +
                        "</div>");
                }
            }
            $( "#response .dfile.dir .dfilename" ).on("click", function() {
                id = $(this).parent().attr('id');
                //id = $(this).attr('id');
                RestGetParent(id+"\\");
                RestGetAllChild(id+"\\");
            });
            $( "#response .dfile .todelete" ).on("click", function() {
                id = $(this).parent().attr('id');
                if(RestDeleteFile(id)){
                    $(this).parent().remove();
                    $(this).parent().detach();
                }
            });

            $( "#response .dfile .editcomment" ).change(function() {
                id = $(this).parent().attr('id');
                text =  $(this).val();
                res = RestAddComment(id, text);
                var commentContent= "";
                console.log("res.length="+res.length);
                if(res.length > 0) {
                    console.log("comments res.length"+res.length);
                    comment = res[res.length-1];
                        commentContent = commentContent + " | <span class='commentitem'>" + comment.commentText + "  " + comment.lastEdited + "</span>"
                        //console.log(element);
                } else {commentContent = "";}
                console.log("commentContent"+commentContent);
                $(this).parent().children('.commentshistory').append(commentContent);
            });
            $( "#response .editable p" ).on("click", function() {
                id = $(this).parent().attr('id');
                startEditingFile(id);
            });
        }

        var RestCreateFile = function (fileName, isDir, access) {
            var JSONObject = {
                'fileName':fileName,
                'isDir': isDir,
                'access': ''+access+''
            };
            //console.log("fileService + CREATE_FILE="+fileService + CREATE_FILE);
            $.ajax({
                type: 'POST',
                url: fileService + CREATE_FILE,
                dataType: 'json',
                data: JSON.stringify(JSONObject),
                accept: 'json',
                contentType: 'application/json;utf-8',
                async: false,//true ? Синхронный XMLHttpRequest в основном потоке устарел
                success: function (result) {
//                    console.log(result);
//                    console.log("RestCreateFile() works, result.length="+result.length);
//                    console.log(result.name);
//                    console.log(result.comment);
//                    console.log(result.lastUpdated);
                    addNewDfileToList(result);
                },
                error: function (jqXHR, testStatus, errorThrown) {
                    $('#response').html(JSON.stringify(jqXHR))
                    resetDFilesList();
                }
            });
        };

        var RestDeleteFile = function (fileName) {
            name = encodeURIComponent(fileName);
            //console.log("fileService + CREATE_FILE="+fileService + CREATE_FILE);
            url = fileService + DELETE_FILE +'?name='+name;
            console.log(url);
            res = false;
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                accept: 'json',
                contentType: 'application/json;utf-8',
                async: false,//true ? Синхронный XMLHttpRequest в основном потоке устарел
                success: function (result) {
                    console.log("RestDeleteFile works");
                    console.log("result"+result);
                    res = true;
                },
                error: function (jqXHR, testStatus, errorThrown) {
                    console.log("RestDeleteFile  error");
                    res = false;
                }
            });
            return res;
        };

        var addNewDfileToList = function (dFile) {
            var shortName = dFile.name.replace(/^.*[\\\/]/, '');
            lastUpdated = (dFile.lastUpdated = "null") ? "" : dFile.lastUpdated;
            if(dFile.directory == true) {
                $('#response').append("<div id='"+dFile.name+"' class='dfile dir media text-muted pt-3'>" +
                    "<img src='/images/fdir.png' class='dfileicon'/>"+
                    "<p class='dfilename media-body pb-3 mb-0 small lh-125'><strong class=\"d-block text-gray-dark\">" + shortName+"</strong> " + lastUpdated + "</p>" +
                    "<input class='editcomment' type='text' placeholder='этот файлик о...'/>" +
                    "<div style=\"font-size:24px;\" class=\"todelete pull-right hidden-xs showopacity fa fa fa-trash table-click-item\"></div>" +
                    "<div class='commentshistory border-bottom border-gray'></div>" +
                    "</div>");
            } else {
                $('#response').append("<div id='"+dFile.name+"' class='dfile file media text-muted pt-3 "+ dFile.editableClass +"'>" +
                    "<img src='/images/"+ dFile.extensionClassName +".png' class='dfileicon'/>"+
                    "<p class='dfilename media-body pb-3 mb-0 small lh-125'><strong class=\"d-block text-gray-dark\">" + shortName+"</strong> "  + lastUpdated + "</p>" +
                    "<input class='editcomment' type='text' placeholder='этот файлик о...'/>" +
                    "<div style=\"font-size:24px;\" class=\"todelete pull-right hidden-xs showopacity fa fa fa-trash table-click-item\"></div>" +
                    "<div class='commentshistory border-bottom border-gray'></div>" +
                    "</div>");
            }

            $( "#response .dfile.dir .dfilename" ).on("click", function() {
                id = $(this).parent().attr('id');
                RestGetParent(id+"\\");
                RestGetAllChild(id+"\\");
            });
            $( "#response .dfile .todelete" ).on("click", function() {
                id = $(this).parent().attr('id');
                if(RestDeleteFile(id)){
                    $(this).parent().remove();
                    $(this).parent().detach();
                }
            });
            $( "#response .dfile .editcomment" ).change(function() {
                id = $(this).parent().attr('id');
                text =  $(this).val();
                res = RestAddComment(id, text);
                var commentContent= "";
                console.log("res.length="+res.length);
                if(res.length > 0) {
                    res.forEach(function(comment) {
                        commentContent = commentContent + comment.commentText + " " + comment.lastEdited + " ";
                    });
                } else {commentContent = "";}
                console.log("commentContent"+commentContent);
                $(this).parent().children('.commentshistory').text(" " + commentContent);
            });
            $( "#response .editable" ).on("click", function() {
                id = $(this).attr('id');
                startEditingFile(id);
            });
        }

        var startEditingFile = function (fileName) {
            name = encodeURIComponent(fileName);
            window.open(service + EDITOR_FILE +'?name='+name, '_blank');
        }

        $("form#filedata").submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: fileService + UPLOAD_FILE,
                type: 'POST',
                data: formData,
                success: function (result) {
                    console.log(result);
                    addNewDfileToList(result);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });

        $( "#createFileId" ).on("click", function() {
            filename = $("#newFileName").val();
            isDir = $('input[name=newFileIsDir]:checked').val();
            access = '';
            if ($('#reall').is(":checked")){access = access + '1';} else {access = access + '0';}
            if ($('#reown').is(":checked")){access = access + '1';} else {access = access + '0';}
            if ($('#wrall').is(":checked")){access = access + '1';} else {access = access + '0';}
            if ($('#wrown').is(":checked")){access = access + '1';} else {access = access + '0';}
            if ($('#exall').is(":checked")){access = access + '1';} else {access = access + '0';}
            if ($('#exown').is(":checked")){access = access + '1';} else {access = access + '0';}
            RestCreateFile(filename, isDir, access);
        });

        function resetDFilesList() {
            var start_url = /*[[${rootDirectory}]]*/;
            /*]]>*/
            console.log( "start_url"+start_url );
            RestGetAllChild(start_url);
        }

        function escapeRegExp(str) {
            return str.replace(/[|\\{()[^$+*?.-]/g, "\\$&");
        }

        $( document ).ready(function() {
            resetDFilesList();
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('international?lang=' + selectedOption);
                }
            });
        });
    </script>
</html>