.icon-ext-dir {
    background-image:url('../images/fdir.png');

}
.icon-ext-non {
    background-image:url('../images/fnon.png');
}
.icon-ext-exe {
    background-image:url('../images/fexe.png');
}
.icon-ext-txt {
    background-image:url('../images/ftxt.png');
}
.icon-ext-doc {
    background-image:url('../images/fdoc.png');
}
.icon-ext-pdf {
    background-image:url('../images/fpdf.png');
}
.icon-ext-psd {
    background-image:url('../images/fpsd.png');
}
.icon-ext-jpg {
    background-image:url('../images/fjpg.png');
}
.icon-ext-gif {
    background-image:url('../images/fgif.png');
}
.icon-ext-bmp {
    background-image:url('../images/fbmp.png');
}
.icon-ext-png {
    background-image:url('../images/fpng.png');
}
.icon-ext-html {
    background-image:url('../images/fhtml.png');
}



.icon-ext-dir, .icon-ext-non, .icon-ext-exe, .icon-ext-txt, .icon-ext-doc, .icon-ext-pdf, .icon-ext-psd {
    background-repeat: no-repeat;
    background-size: auto;
    flex: 1;
}