.dfile {
    flex-wrap: wrap;
}
.todelete {
    cursor: pointer;
}
.commentshistory {
    width: 100%;
    font-style: italic;
    color: #656565;
    font-size: 12px;
}

.commentitem:nth-child(1) {
    color: #303030;
}
.commentitem:hover {
    color: #303030;
}
.dfilename {
    flex: 8;
}
.dfileicon {
    padding-right: 10px;
}
.dir .dfilename, #parentdir-wrapper .dir {
    cursor: pointer;
}
.dir .dfilename:hover, #parentdir-wrapper .dir:hover {
    text-decoration: underline;
}

main {
    padding-top: 60px;
}

.createFile {
    background-color: darkgray;
    display: flex;
}
.createfile-inpblock {
    padding-left: 7px;
    padding-right: 7px;
}


input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}
label{
    margin-bottom: 0px !important;
}
.createfile-inpblock div {
    width: 100%;
}

#createFileId {
    color: black;
    background-color: white;
    font-size: 24px;
}

#start-upl-file, #upl-file, #savAndOut {
    color: black;
    background-color: white;
    font-size: 24px;
}

.editable p{
    cursor: pointer;
    -webkit-transition: background-color 0.7s ease-out 0.5s;
    -moz-transition: background-color 0.7s ease-out 0.5s;
    -o-transition: background-color 0.7s ease-out 0.5s;
    transition: background-color 0.7s ease-out 0.5s;
}

.editable:hover {
    background-color: #fcf8e3;
}

.noselect {
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

